#loginPageWrapper {
	margin-top: -20px;
	background: rgba(134,90,207,0.5);
	padding-top: 20px;
	padding-bottom: 50px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

div#loginInfo {
    margin-top: -20px;
}

::-webkit-placeholder {
    font-size: 20px;
}

div#loginInfo h1 {
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}

div#loginInfo hr {
    width: 45px;
    border: none;
    border-top: 3px solid orange;
    margin-top: 10px;
}

div#loginInfo p {
    margin-top: 30px;
    color: #f1f1f1;
    font-size: 15px;
    line-height: 22px;
}

div#loginImage {
    background: url("../images/login.png");
    height: 200px;
    width: 200px;
    background-size: cover;
    border-radius: 50%;
/*    border: 1px solid rgba(255,255,255,0.3);*/
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    margin: auto;
    margin-top: -10px;
    transition: all 0.7s ease-out;
/*    transform: rotate(360deg);*/
}

/*Login Page Heading */
#loginPageHeading h2 {
	color: #fff;
	text-align: center;
	margin-top: 25px;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
    margin-bottom: 35px;
}

#loginPageHeading>h2>span {
	cursor: pointer;
}

#loginPageHeading>h2>span.active {
	color:red;
	
}

/* Page Heading Ends */

/* Login Form */

.loginForm {
    width: 95%;
    margin: auto;
    margin-top: 15px;
}

/* Styling for showing errors */
.errorMessageLogin {
	color: red;
    background: black;
	font-weight: 600;
	font-size: 13px;
}
/* Form Ends */


/* Input Fields */
.loginForm>input,
.loginForm>select {
	width: 100%;
	height: 41px;
	background: rgba(255,255,255,0.85);
	border: 1px solid #d1d1d1;
	transition: all 0.1s ease;
	padding-left: 55px;
	padding-right: 10px;
	box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
	outline: none;
	font-size: 13px;
	font-weight: 600;
	margin-top: 15px;
}

.loginForm>input:focus,
.loginForm>select:focus {
	background: rgba(255,255,255,1);
}

.signUpForm>input,
.signUpForm>select {
	width: 100%;
	height: 41px;
	background: rgba(255,255,255,0.7);
	border: 1px solid #d1d1d1;
	transition: all 0.1s ease;
	padding-left: 55px;
	padding-right: 10px;
	box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
	outline: none;
	font-size: 13px;
	font-weight: 600;
	margin-top: 15px;
}

.signUpForm>input:focus,
.signUpForm>select:focus {
	background: rgba(255,255,255,0.95);
}


/*Signup Redirect Link*/

#signupLinkWrapper {
	text-align: center;
	margin-top: 40px;
}

#signupLink {
	display: inline-block;
	margin:auto;
	border: none;
	background: #ed1c24;
	color: #fff;
	font-weight: 600;
	padding: 10px 40px;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	transition: background 0.3s ease-out;
	text-decoration: none;
}

#signupLink:hover {
	background: #b70f15;
}
